@import '../../styles/config';
@import '../../styles/mixins';

$component-class: m-app-favorite-list-item;

.#{$component-class} {
    display: flex;
    list-style: none;

    h2 {
        margin: 8px auto;
    }
}
