@import '../../styles/config';
@import '../../styles/mixins';

$component-class: m-app-movie-list;

.#{$component-class} {
    display: flex;
    flex-direction: column;
    padding: 16px;
    max-width: 800px;
    margin: 0 auto 32px auto;

    @include paper-base();

    img {
        margin-right: 16px;
        max-height: 278px;
    }

    p {
        margin: 16px auto;
        font-style: italic;
    }
}
